<div class="body">
  <div class="container">
  	<div class="row">
      <div><%= render 'books/error_messages', book:@book %></div>
      <div class="col-xs-3">
      	<h2>User info</h2>
      	<table class="table">
          <p><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "100x100", class: "img-circle" %></p>
      		<tbody>
      			<tr>
      				<th>name</th>
      				<th><%= @user.name %></th>
      			</tr>
      			<tr>
      				<th>introduction</th>
      				<th><%= @user.introduction %></th>
      			</tr>
      		</tbody>
      	</table>
        <%= link_to edit_user_path(@user) do %>
        <div class="row"><span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" aria-hidden="true"></span></div>
        <% end %>
      <h2>New book</h2>
<%= form_for (book) do |f| %>
<div class= "row">
<label>title</label>
<%= f.text_field :title, class: "col-xs-12"%>
</div>
<div class="row">
<label>Opinion</label>
<%= f.text_area :body, class: "col-xs-12" %>
</div>
<br>
<div class="row">
<%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
</div>
<% end %>
</div>

