<div class="container">
<h2>User info</h2>
<%= form_for (@user) do |f| %>
<label>name</label>
<p><%= f.text_field :name %></p>
<label>image</label>
<p><%= f.attachment_field :profile_image %></p>
<label>Introduction</label>
<p><%= f.text_area :introduction %></p>
<%= f.submit "Update user" %>
<% end %>
</div>